@{
    ViewBag.Title = GrosBrasInc.Ressource.Ressource.View_about_title;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>@GrosBrasInc.Ressource.Ressource.Views_About_body</p>

<p>@Html.ActionLink(GrosBrasInc.Ressource.Ressource.View_Terms_page, "TermofUse", "Home")</p>
