@{
    ViewBag.Title = GrosBrasInc.Ressource.Ressource.View_about_title;
}

<div class="jumbotron" id="mainContent">
    <h2>@ViewBag.Title.</h2>

    <p>@GrosBrasInc.Ressource.Ressource.Views_About_body</p>

    <p>@Html.ActionLink(GrosBrasInc.Ressource.Ressource.View_Terms_page, "TermofUse", "Home")</p>
</div>