@{
    ViewBag.Title = GrosBrasInc.Ressource.Ressource.View_Contact_title;
}

<div class="jumbotron" id="mainContent">

    <h2>@ViewBag.Title.</h2>

    <address>
        One Gainz Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    </address>
</div>