#background{
    background: #B5B5B5;
    background: -webkit-linear-gradient(#686868, #B5B5B5);
    background: -o-linear-gradient(#686868, #B5B5B5);
    background: -moz-linear-gradient(#686868, #B5B5B5);
    background: linear-gradient(#686868, #B5B5B5);
}

body {
    padding-top: 85px;
    padding-bottom: 20px;
    background-color: #4b4b4b;

    background: #B5B5B5;
    background: -webkit-linear-gradient(#686868, #B5B5B5);
    background: -o-linear-gradient(#686868, #B5B5B5);
    background: -moz-linear-gradient(#686868, #B5B5B5);
    background: linear-gradient(#686868, #B5B5B5);
    background-repeat: no-repeat;
    background-size: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar .nav > li > a {
    color: #F4F4F4;
    font-size: 125%;
    padding-top: 25px;
}

#mainContent {
    color: #F4F4F4;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #4F4F4F;
    border-color: white;
}

.btn {
    background-color: #2aace3;
    color: white;
}